@page "/countries/create/"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3 class="card-title">Create New Countries</h3>
<hr />
<br />


<FormComponent ButtonText="Create Country" country="country" OnValidSubmit="@CreateCountry" />


@code {

    Country country = new Country();

    private async Task CreateCountry()
    {
        await _client.PostAsJsonAsync(Endpoint.CountryEndpoint, country);
        _navManager.NavigateTo("/countries/");
    }

}
