@page "/countries/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<h3>Edit Country</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditCountry" country="country" Disabled=disabled/>

@code {

  [Parameter] public int id { get; set; }
  Country country = new Country();
  private List<AppUser> AppUsers;
  private string _currentUserId;
  private string _currentUserName;
  private string _currentUserRole;
  private bool disabled;

  protected async override Task OnParametersSetAsync()
  {
    country = await _client.GetFromJsonAsync<Country>($"{Endpoint.CountryEndpoint}/{id}");
  }

  async Task EditCountry()
  {
    await _client.PutAsJsonAsync($"{Endpoint.CountryEndpoint}/{id}", country);
    _navManager.NavigateTo("/countries/");
  }
  protected async override Task OnInitializedAsync()
  {


    AppUsers = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoint.AccountsEndpoint}");
    var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    var user = authState.User;

    if (_currentUserRole != "Administrator")
    {
      disabled = true;

    }
  }
}
