@page "/countries/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable
@inject AuthenticationStateProvider AuthenticationStateProvider
<h3 class="card-title">Country For Itenary</h3>
<br />

<a href="/countries/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    @admin
</a>
<br />
<br />

@if (Countries == null)
{

    <div class="alert alert-info">Loading Countries...</div>

}
else
{
    <table class="table table-responsive" id="countriesTable">
        <thead>
            <tr>
                <th>Country Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Countries)
            {
                <tr>
                    <td>@country.Id</td>
                    <td>@country.Name</td>
                    <td>@country.Detail</td>
                    <td>
                        <a href="/countries/view/@country.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/countries/edit/@country.Id" class="btn btn-primary" hidden =hide>
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete (country.Id))" hidden =hide>
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
}

@code {

  private List<Country> Countries;
  private List<AppUser> AppUsers;
  private string _currentUserId;
  private string _currentUserName;
  private string _currentUserRole;
  private string hide;
  private string admin = "Create New Country";

  protected async override Task OnInitializedAsync()
  {
    Countries = await _client.GetFromJsonAsync<List<Country>>($"{Endpoint.CountryEndpoint}");

    AppUsers = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoint.AccountsEndpoint}");
    var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    var user = authState.User;

    if (_currentUserRole != "Administrator")
    {
      hide = "hidden";
      admin = "Admin Only";

    }
  }


  async Task Delete(int countryId)
  {
    if (_currentUserRole != "Administrator")
    {

      var country = Countries.First(q => q.Id == countryId);
      var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {country.Name}?");
      if (confirm)
      {

        await _client.DeleteAsync($"{Endpoint.CountryEndpoint}/{countryId}");
        await OnInitializedAsync();

      }
    }
  }

  protected async override Task OnAfterRenderAsync(bool firstRender)
  {
    await js.InvokeVoidAsync("AddDataTable", "#countriesTable");
  }

  public void Dispose()
  {
    js.InvokeVoidAsync("DataTablesDispose", "#countriesTable");
  }

}
