@page "/locations/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<h3>Edit Location</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditLocation" location="location" Disabled=disabled />

@code {

  [Parameter] public int id { get; set; }
  Location location = new Location();
  private List<AppUser> AppUsers;
  private string _currentUserId;
  private string _currentUserName;
  private string _currentUserRole;
  private bool disabled;

  protected async override Task OnParametersSetAsync()
  {
    location = await _client.GetFromJsonAsync<Location>($"{Endpoint.LocationEndpoint}/{id}");
  }

  async Task EditLocation()
  {
    await _client.PutAsJsonAsync($"{Endpoint.LocationEndpoint}/{id}", location);
    _navManager.NavigateTo("/locations/");
  }
  protected async override Task OnInitializedAsync()
  {


    AppUsers = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoint.AccountsEndpoint}");
    var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    var user = authState.User;

    if (_currentUserRole != "Administrator")
    {
      disabled = true;

    }
  }
}
