@page "/itineraries/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Itineraries</h3>
<hr />
<br />

<FormComponent ButtonText="Create Itenary" itenary="itenary" OnValidSubmit="@CreateItenary" />

@code {

    Itenary itenary = new Itenary();

    private async Task CreateItenary()
    {
        await _client.PostAsJsonAsync(Endpoint.ItinerariesEndpoint, itenary);
        _navManager.NavigateTo("/itineraries/");
    }
}
