@page "/itineraries/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3>Edit Itenary</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditItenary" itenary="itenary" />

@code {

    [Parameter] public int id { get; set; }
    Itenary itenary = new Itenary();

    protected async override Task OnParametersSetAsync()
    {
        itenary = await _client.GetFromJsonAsync<Itenary>($"{Endpoint.ItinerariesEndpoint}/{id}");
    }

    async Task EditItenary()
    {
        await _client.PutAsJsonAsync($"{Endpoint.ItinerariesEndpoint}/{id}", itenary);
        _navManager.NavigateTo("/itineraries/");
    }

}
