<EditForm Model="@itenary" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Total Price: </label>
        <div>
            <InputNumber @bind-Value="@itenary.TotalPrice" class="form-control" />
            <ValidationMessage For="@(() => itenary.TotalPrice)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    <BackToList Target="itineraries" />
</EditForm>

@code {
    [Parameter] public Itenary itenary { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
