@page "/"
<html>
  <h1>ABC Travel Agency Pte Ltd!</h1>
    <br />
  
     
    <body>
        Welcome, To The Home, of perfect travel planning, please view our selections to make a choice.
        <br />
        <br />
        Go to itenaryitem list to make a list and select a payment plan to enjoy benefits.
        <br />
        <br />
        <div class="justify-content-center">
            <img src="/travel.jpeg" asp-append-version="true" width="500" height="500" class="oi-align-center" />
        </div>


    </body>




</html>



@*<SurveyPrompt Title="How is Blazor working for you?" />*@
