@page "/"
<html>
  <h1>ABC Travel Agency Pte Ltd!</h1>
  Welcome Please select an option to get started with your travel itenarary

  <body>


   

  </body>




</html>



@*<SurveyPrompt Title="How is Blazor working for you?" />*@
