@page "/trippreview"
<h3>Payment</h3>




<html>

<body>

  <pa><h2>Greece Athens</h2></pa>
  <li>The Acropolis</li>
  <li>The Acropolis Mueseum</li>
  <li>National Archaeology Museum</li>
</body>


</html>

@code{}