@page "/attractions/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent attraction="attraction" Disabled="true" />

@code {

    [Parameter] public int id { get; set; }
    Attraction attraction = new Attraction();

    protected async override Task OnParametersSetAsync()
    {
        attraction = await
        _client.GetFromJsonAsync<Attraction>($"{Endpoint.AttractionsEndpoint}/{id}");
    }

}
