@page "/hotels/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Hotel</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditHotel" hotel="hotel" />

@code {

    [Parameter] public int id { get; set; }
    Hotel hotel = new Hotel();

    protected async override Task OnParametersSetAsync()
    {
        hotel = await _client.GetFromJsonAsync<Hotel>($"{Endpoint.HotelEndpoint}/{id}");
    }

    async Task EditHotel()
    {
        await _client.PutAsJsonAsync($"{Endpoint.HotelEndpoint}/{id}", hotel);
        _navManager.NavigateTo("/hotels/");
    }

}
